.search-customer .search{
    width: 30%;
    left: 70%;
}
.search-customer #table-users{
    margin-top: 10px;
}
.search-customer #pagination{
    float: right;
}

.search-car .search{
    width: 30%;
    left: 70%;
}
.search-car #table-cars{
    margin-top: 10px;
}
.search-car #pagination{
    float: right;
}

.bill-info #btn-export-bill{
    float:right;
}